@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    padding: 20px 25px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* header style  */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-title {
    font-size: 2.813rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}

nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    margin-right: 26px;
    font-size: 1.125rem;
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);

}

/* banner styles  */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    margin-top: 80px;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    ;
}

.banner-description {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgb(114, 114, 114);
    font-weight: 400;
    line-height: 26px;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* teams section style */
.teams-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4.375rem;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-top: 85px;
}

.teams-content-title {
    margin-bottom: 24px;
}

.teams-content-title .quicklist {
    font-weight: 500px;
    font-size: 2.8rem;
    color: rgb(114, 114, 114);
}

.teams-content-title .ofour {
    font-weight: 700px;
    font-size: 2.8rem;
    color: rgb(19, 19, 19);
}

.teams-content-title .text-features {
    font-weight: 700px;
    font-size: 2.8rem;
    color: rgb(255, 144, 14);
}

.teams-description {
    font-weight: 400px;
    font-size: 1rem;
    color: rgb(114, 114, 114);
    margin-bottom: 32px;
}

/* Responsive media query */

/* Mobile  */
@media screen and (max-width:576px) {

    nav,
    .teams-container {
        flex-direction: column;
        gap: 20px;

    }

    header {
        padding: 20px;
    }

    .teams-image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content {
        padding: 20px;
        text-align: center;
    }
}

/* tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-content {
        padding: 20px;
        text-align: center;
    }
}